---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        <a href="https://clustrmaps.com/site/1b8v5"  title="Visit tracker" style="float: right;" ><img src="//www.clustrmaps.com/map_v2.png?d=tvBrEhSgzyZRvnvsL_Ktj-jA_do76OqU0tket--MGTs&cl=ffffff" /></a>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
